@import url(./bootstrap.min.css);
@import url(./flatpickr.min.css);
@import url(./font-awesome.min.css);

html {
    font-size: 14px;
}

.page-heading {
    margin-top: 3rem;
    margin-bottom: 2rem;
}
.tab-content {
    display: none;
}
.tab-content.active {
    display: block;
}

.tab-container {
    margin-top: 1em;
}

.gender-container .custom-radio {
    cursor: pointer;
}

.gender-container .custom-control-label {
    cursor: inherit;
}